* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff7f0;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #FFF1E6;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 24px;
  color: #ec7607;
  font-weight: bold;
}

.smiley {
  color: #f9a04e;
}

.logo-subtext {
  font-size: 12px;
  color: #5a4335;
  letter-spacing: 2px;
  font-weight: 700;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #5a4335;
  font-weight: 500;
}

.nav ul li a i {
  margin-left: 5px;
  font-size: 12px;
}

.nav ul li a:hover {
  color: #ec7607;
}

.nav ul li:not(:last-child)::after {
  content: '|';
  color: #c9a189;
  margin-left: 20px;
}

.action-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  border: 2px solid #ec7607;
  background-color: transparent;
  color: #5a4335;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.book-appointment {
  background-color: #ec7607;
  color: white;
  border-color: #ec7607;
}

.book-appointment i {
  font-size: 18px;
}

.help {
  border-color: #f9a04e;
  color: #5a4335;
}

.help i {
  font-size: 18px;
}

.btn:hover {
  opacity: 0.8;
}

/* Responsive Design */

/* Tablet devices (up to 768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .logo{
    margin-bottom: 10px;
  }

  .logo-text {
    font-size: 35px;
  }

  .logo-subtext {
    font-size: 18px;
  }

  .nav ul {
    flex-direction: column; /* Stack navigation items in a column */
    gap: 10px;
    padding: 15px 0;
    display: block; /* Ensure nav items are displayed */
    text-align: center; /* Center align nav items */
  }

  .nav ul li {
    width: 100%; /* Ensure each item takes full width */
  }

  .nav ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block; /* Ensure links take full width */
    width: 100%;
    text-align: center; /* Center text in each item */
  }

  .nav ul li:not(:last-child)::after {
    content: '';
  }
  

  .action-buttons {
    width: 100%;
    justify-content: center; /* Center align action buttons */
    margin-top: 10px;
    gap: 15px;
    text-align: center;
  }

  .btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/* Mobile devices (up to 480px) */
@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
    text-align: center; /* Ensure items are centered on mobile */
    display: block;
  }

  .nav ul li {
    width: 100%;
    padding: 10px 0;
  }

  .nav ul li a {
    display: block;
    font-size: 18px;
    text-align: center; /* Ensure centered alignment */
  }

  .action-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center; /* Center align action buttons */
    gap: 10px;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }
}

/* Health Plan section styles */
.health-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px;
  background-color: #B5C1A6;
  margin-bottom: 50px;
  background-size: cover;
  height: 70vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 3.5rem;
  color: #2E2E2E;
}

.subheading {
  font-size: 1.5rem;
  color: #555555;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.price span {
  color: #303030;
  font-weight: 700;
}

.buy-btn {
  background-color: #F8943F;
  color: white;
  padding: 15px 40px;
  width: 400px;
  height: 72px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #D94B1D;
}

/* Image styles */
.image img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */

/* Tablet devices (up to 768px) */
@media (max-width: 768px) {
  .health-plan {
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    height: 100%;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .subheading, .price {
    font-size: 1.2rem;
    text-align: center;
  }

  .buy-btn {
    width: 100%;
    font-size: 1rem;
  }

  .image img {
    max-width: 100%;
    margin-top: 30px;
  }
}

/* Mobile devices (up to 480px) */
@media (max-width: 480px) {
  .health-plan {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .subheading {
    font-size: 1rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .buy-btn {
    padding: 12px 30px;
    height: auto;
    font-size: 1rem;
    width: 100%;
  }

  .image img {
    max-width: 100%;
    margin-top: 20px;
  }
}

/* Styles for the Stats Banner */
.stats-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-item {
  display: flex;
  flex-direction: column;
}

.clinics .stats-number {
  font-size: 20px;
  color: #ec7607;
  font-weight: bold;
}

.stats-w {
  color: #000000;
}

.clinics .stats-label {
  font-size: 1rem;
  color: #555;
}

.google-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.google-logo {
  width: 50px;
  height: auto;
}

.rating-text {
  text-align: left;
}

.rating-text .star {
  color: #f4c150;
  font-size: 1.5rem;
}

.rating-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.reviews {
  font-size: 0.9rem;
  color: #555;
}

.city-selector {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.city-dropdown {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #5a4335;
  width: 300px;
  height: 66px;
}

.city-selector i {
  position: absolute;
  right: 20px;
  font-size: 1rem;
  color: #ec7607;
}

.locate-btn {
  background-color: #f15d26;
  color: white;
  border-radius: 30px;
  border: 1px solid #DE6F0D;
  width: 300px;
  height: 66px;
  font-size: 20px;
}

.locate-btn:hover {
  background-color: #d94b1d;
}

/* Responsive Design */

/* Tablet devices (up to 768px) */
@media (max-width: 768px) {
  .stats-banner {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .stats-item {
    margin-bottom: 50px;
    align-items: center;
  }

  .clinics .stats-number {
    font-size: 18px;
  }

  .google-logo {
    width: 40px;
  }

  .rating-text .star {
    font-size: 1.2rem;
  }

  .rating-value {
    font-size: 1rem;
  }

  .locate-btn {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  .city-dropdown {
    width: 100%;

  }
}

/* Mobile devices (up to 480px) */
@media (max-width: 480px) {
  .stats-banner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .stats-item {
    margin-bottom: 30px;
    text-align: center;
  }

  .clinics .stats-number {
    font-size: 16px;
  }

  .clinics .stats-label {
    font-size: 0.9rem;
  }

  .google-logo {
    width: 35px;
  }

  .rating-text .star {
    font-size: 1rem;
  }

  .rating-value {
    font-size: 0.9rem;
  }

  .reviews {
    font-size: 0.8rem;
  }

  .locate-btn {
    font-size: 1rem;
    padding: 12px;
  }

  .city-dropdown {
    width: 100%;
    height: auto;
  }
}

/* Base Styles - Desktop View */
.services {
  background-color: #FFF9F4;
  padding: 50px 0;
  margin-bottom: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.service-head {
  font-size: 25px;
  color: #303030;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns for desktop */
  gap: 10px;
  margin-top: 30px;
}

.service-card {
  text-align: center;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  font-size: 15px;
  color: #303030;
  font-weight: 400;
  font-family: "Raleway";
}

.service-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.explore-treatments {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  color: #4D2C19;
  font-weight: 700;
  font-size: 24px;
  text-decoration: underline;
  margin-top: 30px;
  cursor: pointer;
}

/* Responsive Styles */

/* Tablet View (between 768px and 1024px) */
/* For large desktop screens */
@media (min-width: 1200px) {
  .services-grid {
    grid-template-columns: repeat(6, 1fr); /* 6 columns for large screens */
  }
  .service-card {
    width: 180px;
    height: 150px;
  }
}

/* For tablets and small desktops */
@media (max-width: 1199px) and (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
  }
  .service-card {
    width: 180px;
    height: 140px;
  }

  .service-head {
    font-size: 22px;
  }

  .explore-treatments {
    font-size: 20px;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile devices */
    gap: 20px;
  }
  .service-card {
    width: 100%;
    height: auto;
  }

  .service-head {
    font-size: 20px;
  }

  .explore-treatments {
    font-size: 18px;
  }

  .container {
    padding: 0 10px;
  }
}

/* For extra small screens */
@media (max-width: 480px) {
  .services-grid {
    grid-template-columns: 1fr; /* Single column for extra small screens */
  }

  .service-card {
    width: 100%;
  }

  .service-head {
    font-size: 18px;
  }

  .explore-treatments {
    font-size: 16px;
  }
}

.booking{
  background-color: #FFF9F4;
  border: 0px;
}

.ne-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: Fill (660px)px;
  height: Fixed (786px)px;
  padding: 0px 80px 24px 80px;
  gap: 92px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

.card h2 {
  font-weight: 700;
  font-size: 30px;
  font-family: "Raleway";
  color: #303030;
}
.card p {
  color: #666;
  margin-bottom: 20px;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}
.input-field label {
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "switzer";
  color: #888888;
}
.input-field input, .input-field select {
  padding: 10px;
  width: 400px;
  height: 72px;
  border-radius: 80px;
  border: 1.62 solid #b0b0b0;

}

.button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 400px;
  height: 72px;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500; 
}

.button:hover {
  background-color: #ffb347;
}

.card-content{
  display: flex;
  flex-direction: row;
}

.card.large {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-large{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.large h2 {
  font-size: 2rem;
}
.card.large p {
  font-size: 1.2rem;
}
.learn-button {
  width: 143px;
  height: 26px;
  color: #4D2C19;
  font-size: 25px;
  border: 0px;
  font-family: "Raleway";
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  background-color: #FFF9F4;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.image-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  
}
.card-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #F5F8FF;
  margin-top: 20px;
  
}

.card-row .card {
  width: Hug (934px)px;
  height: Hug (338px)px;
  gap: 34px;
  opacity: 0px;
  
}

.card-row .card h2{
  font-size: 25px;
}

.svg-container{
  padding: 15px;
}
.svg-container img{
  width: 115px;
  height: 120px;
  align-self: center;
  
}

.exp-button {
  color: #4D2C19;
  font-size: 15px;
  border: 0px;
  text-decoration: underline;
  font-weight: 700;
  width: 200px;
  cursor: pointer;
  background-color: #F5F8FF;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .ne-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .input-field input,
  .input-field select {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .card.large {
    flex-direction: column;
  }

  .card-row {
    flex-direction: column;
    gap: 20px;
  }

  .card-row .card {
    width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .card {
    width: 90%;
  }

  .input-field input,
  .input-field select,
  .button {
    width: 100%;
  }

  .card.large h2 {
    font-size: 1.5rem;
  }

  .card.large p {
    font-size: 1rem;
  }

  .learn-button {
    font-size: 20px;
  }

  .svg-container img {
    width: 80px;
    height: 80px;
  }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }

  .input-field input,
  .input-field select,
  .button {
    width: 100%;
    padding: 8px;
  }

  .learn-button {
    font-size: 18px;
  }

  .svg-container img {
    width: 60px;
    height: 60px;
  }
}

/* Base Styles for Desktop */
.happy-section {
  background-color: #FFF9F4;
  margin-top: 50px;
  padding: 20px;
}

.happy-heading {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
}

.happy-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
}

.happy-card {
  width: 100%;
  max-width: 348px;
  height: auto;
  background-color: white;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.happy-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.happy-card h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4D2C19;
}

.happy-card p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ec7607;
}

/* Tablet and Small Screens */
@media (max-width: 1024px) {
  .happy-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .happy-heading {
    font-size: 28px;
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  .happy-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .happy-heading {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .happy-card h3 {
    font-size: 14px;
  }

  .happy-card p {
    font-size: 18px;
  }
}

/* Extra Small Mobile Screens */
@media (max-width: 480px) {
  .happy-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .happy-card img {
    width: 100%;
    height: auto;
  }

  .happy-heading {
    font-size: 22px;
  }
}

/* Base Styles (Desktop) */
.doc-section {
  background-color: #FFF9F4;
  margin-top: 50px;
}

.doc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.doc-content {
  display: flex;
  gap: 30px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-content {
  width: 40%;
}

.left-content h1 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  color: #303030;
}

.left-content p {
  font-size: 18px;
  color: #666;
}

.left-content ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  padding: 20px;
}

.left-content li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.left-content li img {
  width: 50px;
}

.left-content li span {
  font-size: 16px;
  color: #4D2C19;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.right-content-card {
  display: flex;
  gap: 30px;
}

.doc-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 360px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doc-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.doc-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.doc-card p {
  font-size: 14px;
  color: #666;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .doc-content {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }

  .left-content, .right-content {
    width: 100%;
  }

  .left-content h1 {
    font-size: 30px;
  }

  .right-content-card {
    flex-direction: column;
    gap: 20px;
  }

  .doc-card {
    width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .left-content h1 {
    font-size: 24px;
  }

  .left-content p {
    font-size: 16px;
  }

  .left-content li span {
    font-size: 14px;
  }

  .doc-card h3 {
    font-size: 18px;
  }

  .doc-card p {
    font-size: 12px;
  }

  .button {
    font-size: 14px;
  }
}

/* Extra Small Mobile Styles */
@media (max-width: 480px) {
  .doc-content {
    padding: 20px;
  }

  .left-content h1 {
    font-size: 20px;
  }

  .doc-card img {
    width: 100%;
    height: auto;
  }

  .button {
    width: 100%;
  }
}

/* Base Styles (Desktop) */
.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEFE2;
  padding: 20px;
  flex-wrap: wrap; 
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.4px;
}

.number {
  font-size: 16px;
  font-weight: 700;
  color: #D89127;
  margin-right: 5px;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .icon-container {
    justify-content: space-around;
  }

  .icon {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .icon img {
    margin-right: 0;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
  }

  .text {
    font-size: 14px;
  }

  .number {
    font-size: 14px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .icon-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .icon {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .text, .number {
    font-size: 15px;
  }
}

/* Extra Small Mobile Styles */
@media (max-width: 480px) {
  .icon-container {
    padding: 5px;
  }

  .icon img {
    width: 25px;
    height: 25px;
  }

  .text, .number {
    font-size: 15px;
  }
}

/* Base Styles (Desktop) */
.dry-section {
  background-color: #FFF9F4;
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  background-color: #f5f5f5;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav-card {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.dry-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
  gap: 1rem;
  padding: 20px;
}

.dry-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.dry-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dry-card-content {
  padding: 1rem;
}

.dry-card-title {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.dry-card-meta {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem;
}

.pagination a {
  background-color: #ec7607;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #ddd;
  color: #333;
}

/* Tablet Styles (768px and below) */
@media (max-width: 768px) {

  .dry-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .dry-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
    gap: 1rem;
  }

  .dry-card img {
    height: 150px; /* Reduce image height */
  }

  .dry-card-title {
    font-size: 18px;
  }

  .dry-card-meta {
    font-size: 0.85rem;
  }
}

/* Mobile Styles (480px and below) */
@media (max-width: 480px) {
  .dry-container {
    grid-template-columns: 1fr; 
  }

  .dry-card img {
    height: 120px;
  }

  .dry-card-title {
    font-size: 16px;
  }

  .dry-card-meta {
    font-size: 0.8rem;
  }

  .pagination {
    justify-content: center; /* Center the pagination for mobile */
  }
}


/* Base Styles (Desktop) */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
  background-size: cover;
  background-image: url("images/back-image.png");
  margin: 50px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.main-content {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.main-content h1 {
  font-size: 2em;
  color: #ec7607;
  margin-bottom: 10px;
}

.main-content h2 {
  font-size: 2em;
  color: #4D2C19;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
}

.logo-container img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.Vardhman {
  height: 70px !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Tablet Styles (768px and below) */
@media (max-width: 768px) {
  .main-container {
    height: 70vh;
    margin: 30px;
  }

  .main-content {
    width: 90%;
    padding: 30px;
    bottom: -30px;
  }

  .main-content h1, .main-content h2 {
    font-size: 1.8em;
  }

  .main-content p {
    font-size: 0.9em;
  }

  .logo-container {
    grid-template-columns: repeat(3, 1fr); /* Adjust for fewer columns */
    gap: 10px;
  }

  .logo-container img {
    width: 80px;
    margin: 5px;
  }
  
  .button-container {
    margin-top: 30px;
  }

  .link-container {
    margin-top: 10px;
  }
}

/* Mobile Styles (480px and below) */
@media (max-width: 480px) {
  .main-container {
    height: 60vh;
    margin: 20px;
  }

  .main-content {
    width: 95%;
    padding: 20px;
    bottom: -20px;
  }

  .main-content h1 {
    font-size: 1.5em;
  }

  .main-content h2 {
    font-size: 1.5em;
  }

  .main-content p {
    font-size: 0.85em;
  }

  .logo-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
  }

  .logo-container img {
    width: 70px;
  }

  .button-container {
    margin-top: 20px;
  }

  .link-container {
    margin-top: 10px;
  }
}

.by-container {
  text-align: center;
  padding: 50px 0;
  background-color: #FFF9F4;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.by-card {
  background-color: #FFF9F4;
  border: 0;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.by-card img {
  width: 100px;
  height: 80px;
}

.by-card .by-content h3 {
  margin: 0 0 5px 0;
}

.by-card .by-content p {
  margin: 0;
  font-size: 14px;
}

/* Media Queries for Responsiveness */

/* Tablet Styles (768px and below) */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .by-card {
    width: 150px; 
    height: 150px; 
  }

  .by-card img {
    width: 80px; 
    height: 60px; 
  }
}

/* Mobile Styles (480px and below) */
@media (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  .by-card {
    width: 120px; 
    height: 120px; 
    margin: 20px 0;
  }

  .by-card img {
    width: 60px; 
    height: 45px; 
  }

  .by-content h3 {
    font-size: 14px; 
  }
}

.faq-container {
  background-color: #fff9f4;
  color: black;
  font-family: sans-serif;
  padding: 20px;
  margin: 20PX;
}

.faq-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.faq-column {
  width: 48%; 
  margin-bottom: 20px; 
}

.faq-question {
  margin-bottom: 10px;
}

.faq-plus {
  color: orange;
  font-size: 20px;
  float: right; 
}

hr {
  border-top: 1px solid white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .faq-column {
    width: 100%; /* Full width on smaller screens */
  }
}

.last-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: flex-start; 
  padding: 20px;
  background: #3D2010;
  color: #ffffff;
}

.last-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 200px; 
  min-width: 150px; 
}

.last-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
}

.last-logo {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  background: #3D2010;
}

.last-logo span {
  color: #C49B6B;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social img {
  width: 24px; 
  height: auto;
}

footer {
  background: #3D2010;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  color: #C49B6B;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .last-container {
    flex-direction: column; 
    align-items: center; 
  }

  .last-section {
    text-align: center; 
  }

  .social  {
    justify-content: center;
    cursor: pointer;
  }
}
